*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
.clr{
    clear:both;
    width:0px;
}
body{
    font-family:'segoe ui light';
}
/* nav bar section */
.navbar{
    border-bottom:3px solid #FF4D4D !important; 
}
.logo{
    height:70px;
    width:70px;
}
.navclick button{
    background-color: transparent;
}

/* nav bar section */
/* image slider section 'mohamed fathy'*/

.imageSlider{
    height: 400px;
}

.test{
    background-color: #FF4D4D;
    border-top:100px solid black;
    border-left:50px solid green;
}
/* image slider section 'mohamed fathy'*/

/* Start Donation-hala */


#myForm1 ,#myForm2
{
    color: #AAA;
    border: 2px solid red;
    border-radius: 5px;
    display: none;
    
}



#myBtn1 ,#myBtn2
{
    width:100%;
    background-color: red;
    border-style: none;
    border-radius: 5px;
    
}



.btn
{
    background-color: red;
    color: #FFF;
}

/* end Donation-hala */
/* register  Code saleh */
.caption
{
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
  width: 450px;
  height: 320px;;
  

}

.sitelogo
{ 
  width: 150px;
  height: 80px;
  border-radius: 10%;
}


.signinbtn 
{ 
    width: 700px;
    height: 35px;
    font-size: 15px;
     
}

.all-icons
{
 color: #ff305b;
} 

.signinbtn2
{
    width: 450px;
    height: 35px;

}
.New-Doner1
{
    margin-top: 54px;
}

.input-group
{

    width: 390px;
}
.Font1 
{ margin-left: 15px;
    font-size: 15.4px;
    
}
.Font2
{ margin-left: 15px;
    font-size: 22px;
} 
h6
{
position: relative;
}
h6:after
{
    content: ".";
    background-color: #ff2600;
    width: 40%;
    height: 2.5px;
    position: absolute;
    right: 63.3%;%;
    color: #FFF;
}
h6:before
{
    content: ".";
    background-color: #ff2600;
    width: 40%;
    height: 2.5px;
    position: absolute;
    left: 63.3%;
    color: #FFF;


}

.Link2
{  
    color: #333333!important; ;
}
/* register  Code saleh */

/* donation section mohamed fathy*/
.donation {
    background-color: #AAA;
}
/* donation section mohamed fathy*/
/* footer section */

.footer-area
{
    text-align: center;
    background-color:#333333;
    color:white;
    
}

.footer-area i
{
    font-size:15px;
    padding:20px 6px;
    transition:0.3;
}
.footer-area i:hover
{
    color:#ff305b;
}
.footer-area p
{
    padding:0px 0px 20px 0px;
}

.footer-area a 
{
    text-decoration:none;
    color:#ff305b;
    transition:0.3s;
}
.footer-area a:hover
{
    text-decoration:underline;
}
/* footer section */
